.Add-list {
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 130px; */
  background-color: #ffffff;
  color: #080808;
  /* opacity: 60%; */
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 24px 64px #26214a1a;
  border-radius: 12px;
}

.form-horizontal {
  max-width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 150px;
  border: 2px solid rgb(151, 148, 148);
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* .add-btn {
  margin-left: 85px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: rgb(22, 22, 22);
  background-color: rgb(237, 86, 86);
}

.add-btn:hover {
  background-color: rgb(244, 244, 244);
  color: rgb(0, 0, 0);
} */
.proform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin-left: 40px;
}

.p1 {
  /* margin-left: 110px;
  margin-top: 20px;
  margin-bottom: 25px; */
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 36px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.p2 {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  /* border-color: #ff0101; */
  background-color: #d6e5f1;
}
textarea.p2 {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #d6e5f1;
}

/* input {
  padding-top: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
} */
.label-text {
  font-family: "Montserrat", sans-serif;
  color: #4d4c4c;
  font-size: medium;
}

.add2 {
  margin-top: 20px;
}

#dropdown-button-dark-example1 {
  margin-bottom: 20px;
  margin-left: 80px;
}

.head2 {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Axiforma;
}
